*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f4f7;
    margin: 0;
    padding: 30px;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #c8102e;
    color: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.card  {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px #00000012;
}

.campo {
    padding: 12px;
    border-bottom: 1px solid;
    overflow-wrap: anywhere;
}

.campo strong {
    display: inline-block;
    min-width: 130px;
}

.botao {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    margin: 15px 5px 0 0;
}

.voltar {
    background-color: #6c757d;
}

.edicao{
    background-color: #e0a800;
    color: #222;
}

.remocao {
    background-color: #dc3545;
}

.erro {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    border-left: 5px solid #dc3545;
}

.home{
      background-color: #0d6efddc;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    height: 30%;
    width: 30px;
   
}
.edicao {
    background-color: #0d6efddc;
    color:white;
    text-decoration: none;
    border-radius: 5px;
      margin-top: 15px;
        width: 30px;

}

.remocao {
    background-color: #dc3545;
    color:white;
    text-decoration: none;
    border-radius: 5px;
      margin-top: 15px;
       width: 30px;

}
