body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form{
    margin-top: 100px;
    width: 160px;
    text-align: center;

   
}
.text{
    font-size: 25px;
    font-style:italic;
    color:rgb(172, 34, 34);
}
.caixa{
    width: 200px;
}
.button{
   font-size: 25px;
 
    background-color: rgba(255, 0, 0, 0);
    border-color: rgb(255, 255, 255, 0%);
    color:rgb(168, 16, 16);
}
.title{
    margin-top: -520px;
    width: 20px;
    
}